@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body, html {
  height: 100%;
}

h1 {
    text-align: center;
    font-weight: bold;
}

#body {
  min-height: 100%;
  margin-bottom: -60px;
  font-size: medium;
}

#header {
  padding: 20px;
  font-size: 64px;
  font-weight: bold;
  text-align: center;
}

#content-2 {
  height: 100vh;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
}

#container {
  display: flex;
  flex-direction: row;
}

#nav {
  width: 200px;
  height: 100%;
  background-color: #d6f5f5;
  padding: 30px 0px;
  position: fixed;
}

#nav-header {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 12px;
}

.btn-nav {
  padding: 10px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  display: block;
}

.btn-nav:hover {
  background-color: #2db9b9;
  color: white;
}

.nav-sub-header {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
}

#main {
  margin: 20px;
  line-height: 25px;
  padding: 10px;
  width: 67%;
}

#sidebar {
    background-color: #ccf5ff;
    width: 33%;
    min-height: 100vh;
    height: 100%;
    padding: 20px;
}

#footer {
  margin-top: 25px;
  margin-bottom: 20px;
  bottom: 0;
  font-size: small;
  text-align: center;
  word-wrap: break-word;
}

.btn-general {
    background-color: #d6f5f5;
    border: none;
    border-radius: 8px;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    margin-top: 10px;
    float:left;
}

.btn-general-disabled {
    background-color: #4b4276;
    border: none;
    border-radius: 8px;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    float:left;
    #opacity: 0.6;
}

.btn-general:hover {
    background-color: #ccf5ff;
    color: black;
}

#movie-header {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

#movie {
    clear:both;
    padding-top:20px;
    margin-bottom:40px;
}

#movie-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

table.movie-info td,
table.movie-info th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.movie-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table.top-items td {
    text-align: center;
    width: 33.333333%;
}

input[type='text'],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

input[type='password'],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

input[type='submit'] {
    width: 100%;
     background-color: #d6f5f5;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}

input[type='submit']:hover {
    background-color: #ccf5ff;
    color: black;
}

.textarea {
    width: 100%;
    display: inline-block;
    overflow: auto;
    word-break: break-all;
}

.form-wrapper {
    font-size: medium;
}
