<nav id="nav">

    <h2 id="nav-header">
        {% if 'username' in session %} Welcome, {{ session['username'] }} {% endif %}
    </h2>

    <a class="btn-nav" href="{{ url_for('home_bp.home') }}">Home</a>
    <a class="btn-nav" href="{{ url_for('authentication_bp.register') }}">Register</a>
    <a class="btn-nav" href="{{ url_for('authentication_bp.login') }}">Login</a>
    <a class="btn-nav" href="{{ url_for('authentication_bp.logout') }}">Logout</a>

    <div>
        <h3 class="nav-sub-header">Browse movies</h3>
    </div>

    <div>
        <h3 class="nav-sub-header">Join watching simulation</h3>
    </div>

    <!-- Include footer partial -->
    {% include 'footer.html' %}
</nav>